*{
  padding:  0;
}

/*home*/
.home{
  margin-right: 300px;
}
.banner {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  margin-top: 0;
  padding: 10px 0 px 0;
  justify-content: center;
  align-items: center;
}
.banner .tagline {
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);;


  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 8px;
}
.aligh-items-center{
  display: flex;
  gap: 100px;

}
.intento{
  width: 700px;
}
.banner h1 {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: white;
  font-weight: 100;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  
  cursor: pointer;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);;

    background-size: 200% 100%;
    transition: background-position 0.5s ease;
}

.banner button:hover {
  background-position: -100% 0;
}



.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 10s linear infinite;
  border-radius: 50%;
  height: 450px;
  width: 400px;
}
@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}


:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;

}

label {
  display: block;
}
/*login-signup*/
.form-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
  width: 200vh;
   
}

.color{
  color: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
}

.span{
  background-image:  linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);
  -webkit-background-clip: text; 
   background-clip: text; 
   color: transparent; 

}


.wrapper {
	display: flex;
	align-items: flex-start;
	gap: 80px;
	padding: 20px;
	width: 80%;
	height: 58%;
	border-radius: 10px;
	
}

.registration-info{
  margin-top: 107px;
}
.registration-info-login{
  margin-top: 18px;
}

.span-register{
  color: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);;
}

.crear {
  color: white;
  font-weight: 100;
  font-size: 20px;
  width: 169px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  cursor: pointer;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);;
    background-size: 200% 100%;
    transition: background-position 0.5s ease;
}

.crear:hover {
  background-position: -100% 0;
}

.crear svg {
  font-size: 25px;
  
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.log-input{
  width: 100%;
  height: 30px;
  border: 2px solid #ccc;
  /*background-color: #e2dfdf;*/
  outline: none;
  border-width: 1px;
  padding-left: 3px;
  transition: border-color 0.3s ease-in-out;
}



.log-input:focus{
  border-color: #007bff;
}

.log-input:focus::placeholder{
  color:#007bff;
}

.inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  gap: 15px;
}

.img-area {
	
	width: 50%;
	text-align: center;
 
}
.img-area img {
	max-width: 100%;
	height: auto;
}
.form-area {
	
  box-shadow: 8px #ff0000;
  margin-top: -30px;
  padding: 30px;
	display: flex;
  
	flex-direction: column;
	align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
  height: 100%;
  
}

.form-borde{
  box-shadow: 8px  #ff0000;
}

.formSignup {
  width: 100%;
 height: 450px;
  display: flex;
  margin-left: -10px ;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 7px 7px 7px 7px rgb(48, 56, 68);
  gap: 5px;
  margin-top: -29px;
}

.formLogin{
  
  width: 100%;
  height: 100%;
   display: flex;
   margin-left: -10px ;
   flex-direction: column;
   align-items: center;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 5px;
   box-shadow: 7px 7px 7px 7px rgb(48, 56, 68);
   margin-top: -40px;

}

.formSignup h2{
  width: 30px;
}

@media (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		text-align: center;
		height: auto;
		width: auto;
	}
	.img-area, .form-area {
		flex: none;
	}
	.img-area {
		margin-bottom: 20px;
	}
}


h1 {
  color: #000;
}

#tarea {
  width: 40%;
  border-radius: 12px;
}

.uno {
  color: #000;
  text-align: center;
}

#resultado {
  padding: 30px;
  color: #000;
  font-size: 18px;
}

label {
  color: #000;
}

input[type="button"],
button {
  background-color: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);;
  background-position: bottom;
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: #ffffff;
  
}

/*chatBot*/
/*modal chatbot*/
.ReactModal__Content{
  width: 60vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 25px;
}

.ReactModal__Overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalC{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame{
  border: none;
  height: 70%;
  padding-bottom: 15px;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}


:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;

}

label {
  display: block;
}

/*header*/

.principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
    padding: 24px 0 20px 0;
    height: 10vh;
    z-index: 50;
}

.map{
  padding: 24px 0 20px 0;
}

.container-pri{
    text-align: center;
    margin-top: -2.5rem;  
}


.inicio{
  font-size: 2rem;
  font-weight: bold;
  padding: 13px 12px;
  background-color: white;
  text-align: center;
}

.span{
  color: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);;
}


nav {
  color: #040404f6;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

form {
  padding: 1.8rem;
  background-position: center;
  background-size: cover;

}

.dashboard {
  width: 500px;
  margin: auto;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}






/*principal*/

.perfil {
  margin-top: 25px;
}

/*.contenedor-imagen-circular {
  display: inline-block;
  position: relative;
  width: 100px; /* Personaliza el tamaño del círculo 
  height: 100px; /* Personaliza el tamaño del círculo 
  overflow: hidden;
  border-radius: 50%; /* Hace que el contenedor sea circular 
}

.imagen-circular {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al círculo 
  border-radius: 50%; /* Hace que la imagen sea circular 
}*/


.projects{
  padding: 8px;
  padding: 20px;;
}

.priPro{
  margin-bottom: 8px;
}

.selector{
  font-size: 40px;
  font-weight: bold;
  color: rgba(233, 30, 99, 0.9);
}

.selectorcontect{
  font-size: 1.25rem;
  color: #718096;
}

.cuadros{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 8px;
}

.cuadrosC{
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.cuadroscontect{
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 3px;
}

.bold{
  font-size: 1.5rem;
  font-weight: bold;
}

.boldcon{
  color: #718096;
}

.cols{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 8px;
}
.colscon > * + * {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.nose{
  width: 100%;
  height: 56px;
  object-fit: cover;
  border-radius: 3px;
}

.contenedores{
  font-size: 1.5rem;
  font-weight: bold;
}


/*footer*/
.footer {
  padding: 0 0 50px 0;
  background-color: #0000 /*url('./assets/img/footer-bg.png')*/;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #000000;
  border-radius: 55px;
  color: #ffffff;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #050505;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
.foter{
margin-top: 140px;
}

.custom-modal-overlay {
  background-color: rgba(151, 130, 130, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1800; /* Ajusta el z-index según sea necesario */
}

.custom-modal-content {
  background-color: #fff;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  padding: 100px;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*posts*/
/* Posts.css */

.posts {
  padding: 30px 0;

}




.btn-primary,
.btn-danger {
  padding: 8px 15px;
  font-size: 14px;
  margin-right: 10px;
  background:  rgb(20, 110, 158) ; 
  transition: background-color 0.3s ease;
}

.intento{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.botones-separar button{
  background: rgb(20, 110, 158);
  color: #fff;
}

.btn-primary:hover {
  background: #2d4157;
}


.btn-danger:hover {
  background-color: #dc3545;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  font-size: 14px;
}

.table th {
  background: rgb(20, 110, 158);
  color: #fff;
}

.table tbody tr:hover {
  background-color: #e9ecef;
}

.new-post-button {
  margin-bottom: 20px;
}

.map-container {
  display: flex;
}

.map {
  height: 400px; /* Adjust the height as needed */
}


.modal-background {
  position:fixed;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscurecido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 100px;
  border-radius: 5px;
  max-width: 100%;
  max-height: 80%;
  overflow: auto;
}

.modal-boton{
  background:  linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);;
  color: #fff;

}
/* Responsive styles */
@media (max-width: 768px) {
  .table th,
  .table td {
    padding: 10px;
  }

  .btn-primary,
  .btn-danger {
    margin-bottom: 10px;
    width: 100%;
  }

  .map-container {
    flex-direction: column;
  }

  .map {
    height: 200px; /* Adjust the height as needed */
  }
}




.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
}

.continue-button, .submit-button {
  width: 80%;
  padding: 10px;
  margin-top: 70px;
}
.continue-button{
  margin-top: -49px;
}

.parqueaderos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgb(48, 56, 68);
}

.btn {
  margin-top: 10px;
}






/*cambio*/
.DatosParqueadero {
  display: flex;
  justify-content: space-between;
  

}


.form{
  box-shadow: 1px 1px 1px 1px #121212;
  height: 740px;
  width: 700px;
  padding: 12px;
}
.campoDatos {
  padding: 20px;
 
}

.intento{
 margin-left: 260px;
}

.label{
  margin-left: -261px;
}
.label2{
  margin-left: -219px;
}
.label3{
  margin-left: -225px;
}
.labelRol{
  margin-left: -279px;

}

.labeluser{
  margin-left: -162px;
}


/*intento al calendario */
.calendar {
  display: grid;
  gap: 10px;
}

.input-container {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
}

label {
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 5px;
}

.error-message {
  color: red;
}

/*Datos reserva*/

.whatsapp{
  height: 40px;
  width: 40px;
}

.datosReserva{
  width: 80%;
padding: 40px;
margin-left: 100px;
}

/*intento de login*/

.login-link {
  font-size: 1.2rem;
  color: linear-gradient(90deg, rgba(10,26,77,1) 0%, rgba(13,54,111,1) 30%, rgba(26,173,255,1) 100%);;
}

.login-link a {
  text-decoration: none;
  color:  rgba(26,173,255,1) ;
}

.login-link a:hover {
  text-decoration: underline;
}





